	<div id="centeredmenu">
		<p>&nbsp;</p>
   		<ul>
      		<li><a href="/cardquiz" class="active">Leaderboard</a></li>
   		</ul>
	</div>

	<% if (userManas.length > 0) { %>
	<div class="cardBackground">
	<p>&nbsp;</p>
	<table width="100%">
    	<tr>
	        <td width="20%">&nbsp;</td>
	        <td class="td_rank" width="60%">
    			<!-- -->
    			<table>
			    	<tr>
            			<th class="th_rank">Rank</th>
			    		<th class="th_rank">&nbsp;</th>
	        			<th class="th_player" colspan="12">Player</th>
			    	</tr>
			    	<% rank = 1; %>  
			    	<% _(userManas).each(function(userMana) { %>  
			    	<tr>
	        			<td class="td_rank"><%= rank %></td>
				        <td class="td_rank">&nbsp;</td>
    	    			<td class="td_player" colspan="13"><%= userMana.get('user').get('username') %></td>
			        </tr>
			        <tr>
            			<td>&nbsp;</td>
			            <td>&nbsp;</td>
	        			<td class="td_player" colspan="13">Score: <%= userMana.get('totalCMC') %></td>
			    	</tr>
			        <tr>
            			<td>&nbsp;</td>
			            <td>&nbsp;</td>
            			<td><img src="http://jovitoroyeca.com/decktracker/mana/B/32.png" width="16" height="16"></td>
				        <td class="td_score"><%= userMana.get('black') %>&nbsp;</td>
                
            			<td><img src="http://jovitoroyeca.com/decktracker/mana/U/32.png" width="16" height="16"></td>
			        	<td class="td_score"><%= userMana.get('blue') %>&nbsp;</td>
                
    	    			<td><img src="http://jovitoroyeca.com/decktracker/mana/G/32.png" width="16" height="16"></td>
			            <td class="td_score"><%= userMana.get('green') %>&nbsp;</td>
                
	        			<td><img src="http://jovitoroyeca.com/decktracker/mana/R/32.png" width="16" height="16"></td>
			    	    <td class="td_score"><%= userMana.get('red') %>&nbsp;</td>
                
        				<td><img src="http://jovitoroyeca.com/decktracker/mana/W/32.png" width="16" height="16"></td>
			            <td class="td_score"><%= userMana.get('white') %>&nbsp;</td>
                
            			<td><img src="http://jovitoroyeca.com/decktracker/mana/Colorless/32.png" width="16" height="16"></td>
				        <td class="td_score"><%= userMana.get('colorless') %>&nbsp;</td>
			    	</tr>
			        <tr>
            			<td colspan="14">&nbsp;</td>
				    </tr>
				    <% rank++; %>  
			        <% }); %>
			    </table> 
    			<!-- -->
	    	</td>
	    	<td width="20%">&nbsp;</td>
        </tr>
        <tr>
	        <td colspan="3">&nbsp;</td>
        </tr>
    </table>
    </div>
	
    <% } %> 
    