<script>
	var kManaSymbols = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9",
    	        		"10", "11", "12", "13", "14", "15", "16", "17", "18", "19",
        	    		"20", "100", "1000000",
            			"W", "U", "B", "R", "G",
            			"S", "X", "Y", "Z",
            			"WU", "WB", "UB",
	                    "UR", "BR", "BG", "RG", "RW", "GW", "GU", "2W",
    	                "2U", "2B", "2R", "2G", "P", "PW", "PU", "PB",
        	            "PR", "PG", "Infinity", "H", "HW", "HU", "HB",
            	        "HR", "HG"];

	var kCardTypeWithSymbols = ["Artifact", "Creature",
                	            "Enchantment", "Instant", "Land",
                    	        "Planeswalker", "Sorcery"];


	var urlBase = "https://jovitoroyecacom.ipage.com/decktracker";
	
	function loadCardImage(id, magicCardsInfoCode, number, crop) {

	    var url = "cardImage?magicCardsInfoCode="+magicCardsInfoCode+"&number="+number+"&crop="+crop;
	    
		var xmlhttp;
		var txt,x,i;
		// code for IE7+, Firefox, Chrome, Opera, Safari
		if (window.XMLHttpRequest) {
		  	xmlhttp=new XMLHttpRequest();
		  	
		// code for IE6, IE5  	
  		} else {
  			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  		}

		xmlhttp.onreadystatechange=function() {

  			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    			
    			xmlDoc=xmlhttp.responseText;
				document.getElementById("cardImage"+id).src = "data:image/png;base64,"+xmlDoc;
    		}
  		}
  		
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}
	
	function loadCardMana(id, text) {
    	if (text == null || text == 'undefined') {
			text = "";
			
		} else {
			var arrSymbols = [];
    		var curlyOpen = -1;
		    var curlyClose = -1;

		    for (i=0; i<text.length; i++) {
        		if (text.charAt(i) == '{') {
        	    	curlyOpen = i;
    	    	}
	        	if (text.charAt(i) == '}') {
            		curlyClose = i;
        		}
        		if (curlyOpen != -1 && curlyClose != -1) {
        	    	var symbol = text.substr(curlyOpen, (curlyClose-curlyOpen+1));
		            arrSymbols.push(symbol);
	    	        curlyOpen = -1;
        	    	curlyClose = -1;
        		}
    		}
			
		    for (i=0; i<arrSymbols.length; i++) {
	    		var symbol = arrSymbols[i];
    	
        		var bFound = false;
	    	    var noCurlies = symbol.substr(1, symbol.length-2).replace("/", "");
    		    var noCurliesReverse = noCurlies.split("").reverse().join("");
	        	var pngSize = 0, width=0, height=0;

	        	if (noCurlies == "100") {
    		        width = 24;
    	    	    height = 13;
	            	pngSize = 48;
	        	} else if (noCurlies == "1000000") {
    		        width = 64;
    	    	    height = 13;
	            	pngSize = 96;
	    	    } else if (noCurlies == "∞" || noCurliesReverse == "∞") {
                    noCurlies = "Infinity";
    		        width = 16;
	        	    height = 16;
            		pngSize = 32;
	    	    }  else {
    		        width = 16;
	        	    height = 16;
            		pngSize = 32;
        		}

	    	    for (j=0; j<kManaSymbols.length; j++) {
    		    	var mana = kManaSymbols[j];
        			
	        	    if (mana == noCurlies) {
            		    text = text.replace(symbol, "<img src='"+urlBase+"/mana/"+noCurlies+"/"+pngSize+".png' width='"+width+"' height='"+height+"' />");
            	    	bFound = true;
                
	    	        } else if (mana == noCurliesReverse) {
    		            text = text.replace(symbol, "<img src='"+urlBase+"/mana/"+noCurliesReverse+"/"+pngSize+".png' width='"+width+"' height='"+height+"' />");
	        	        bFound = true;
                
            		}
    	    	}
        
		        if (!bFound) {
    	        	for (j=0; j<kManaSymbols.length; j++) {
        				var mana = kManaSymbols[j];
        		
        	    	    if (mana == noCurlies) {
    	            	    text = text.replace(symbol, "<img src='"+urlBase+"/other/"+noCurlies+"/"+pngSize+".png' width='"+width+"' height='"+height+"' />");

		                } else if (mana == noCurliesReverse) {
    	            	    text = text.replace(symbol, "<img src='"+urlBase+"/other/"+noCurliesReverse+"/"+pngSize+".png' width='"+width+"' height='"+height+"' />");
        	    	    }
            		}
	    	    }
    		}
			
		    text = text.replace("(", "(<i>");
    		text = text.replace(")", ")</i>");
		    text = text.replace(/\r?\n/g, "<br />");
		}

		document.getElementById("cardMana"+id).innerHTML = text;
	}

	function loadTCGPrice(id, tcgPlayerName, cardName) {
		if (tcgPlayerName == 'undefined') {
			return;
		}
		
	    var urL = "cardPrice?tcgPlayerName="+tcgPlayerName+"&cardName="+cardName;
		var xmlhttp;
		var txt,x,i;
		// code for IE7+, Firefox, Chrome, Opera, Safari
		if (window.XMLHttpRequest) {
		  	xmlhttp=new XMLHttpRequest();
		  	
		// code for IE6, IE5  	
  		} else {
  			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  		}

		xmlhttp.onreadystatechange=function() {

  			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    			var xmlDoc = xmlhttp.responseXML;
    			var x = xmlDoc.getElementsByTagName("product");
    			var low  = "";
    			var mid  = "";
    			var high = "";
    			var foil = "";
    			var link = "";
    			var txt  = "";
    			
			    txt = "<table width='40%' cellspacing='10'>";
			    txt = txt.concat("<tr>");
			    txt = txt.concat("<td>Low</td>");
			    txt = txt.concat("<td>Median</td>");
			    txt = txt.concat("<td>High</td>");
			    txt = txt.concat("<td>Foil</td>");
			    txt = txt.concat("</tr>");
			    
			    for (i=0;i <x.length; i++)
      			{
        		  	var xx = x[i].getElementsByTagName("foilavgprice");
        		  	{
        				try
          				{
          					foil = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          				}
        				catch (er)
          				{
          					foil = "";
          				}
        		  	}
        		  
        		  	xx = x[i].getElementsByTagName("hiprice");
        		  	{
        				try
          				{
          					high = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          				}
        				catch (er)
          				{
          					high = "";
          				}
        		  	}
        		  
        		  	xx = x[i].getElementsByTagName("avgprice");
        		  	{	 
        				try
          				{
          					mid = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          				}
        				catch (er)
          				{
          					mid = "";
          				}
        		  	}
        		  
        		  	xx = x[i].getElementsByTagName("lowprice");
        		  	{
        				try
          				{
          					low = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          				}
        				catch (er)
          				{
          					low = "";
          				}
        		  	}
        		  
        		  	xx = x[i].getElementsByTagName("link");
        		  	{
        				try
          				{
          					link = xx[0].firstChild.nodeValue;
          				}
        				catch (er)
          				{
          					link = "";
          				}
        		  	}
        		}
				
				txt = txt.concat("<tr>");
			    txt = txt.concat("<td>" + low  + "</td>");
			    txt = txt.concat("<td>" + mid  + "</td>");
			    txt = txt.concat("<td>" + high + "</td>");
			    txt = txt.concat("<td>" + foil + "</td>");
			    txt = txt.concat("</tr>");
			    txt = txt.concat("<tr><td colspan='4'>Buy this card at <a target='_blank' href='" + link + "' style='text-decoration: underline'>TCGPlayer</a>.</td></tr>");
			    txt = txt.concat("</table>");
			    
				document.getElementById("tcgPriceInfo"+id).innerHTML = txt;
    		}
  		}
  		
		xmlhttp.open("GET", urL, true);
		xmlhttp.send();
	}
	
	function loadCardRating(id, rating) {
		var txt = "";
		
		if (rating == null) {
			for (i=0; i<5; i++) {
				txt = txt.concat("<img src='/assets/img/stars/star.png' />");
			}
            
		} else {
			for (i=0; i<5; i++) {
				if (rating > i) {
					if (rating > i && rating <= i+.5) {
						txt = txt.concat("<img src='/assets/img/stars/starhalf.png' />");
					
					} else {
						txt = txt.concat("<img src='/assets/img/stars/starhighlighted.png' />");
					}
					
				} else {
					txt = txt.concat("<img src='/assets/img/stars/star.png' />");
				}
			}
		}
        
		document.getElementById("cardRating"+id).innerHTML = txt;
	}
</script>
	
	<div id="centeredmenu">
		<p>&nbsp;</p>
   		<ul>
   		<% if (view == "search" || view == "searchResults") { %>
        <% 
            var searchFlags = "";

            if (searchInName) {
                searchFlags = searchFlags.concat("&searchInName=on");    
            }
            if (searchInText) {
                searchFlags = searchFlags.concat("&searchInText=on");    
            }
            if (searchInFlavor) {
                searchFlags = searchFlags.concat("&searchInFlavor=on");    
            }
            if (colorBlack) {
                searchFlags = searchFlags.concat("&colorBlack=on");    
            }
            if (colorBlue) {
                searchFlags = searchFlags.concat("&colorBlue=on");    
            }
            if (colorGreen) {
                searchFlags = searchFlags.concat("&colorGreen=on");    
            }
            if (colorRed) {
                searchFlags = searchFlags.concat("&colorRed=on");    
            }
            if (colorWhite) {
                searchFlags = searchFlags.concat("&colorWhite=on");    
            }
            if (colorless) {
                searchFlags = searchFlags.concat("&colorless=on");    
            }
            if (matchColors) {
                searchFlags = searchFlags.concat("&matchColors=on");    
            }
        %>
   			<li><a href="/cards" class="active">Search</a></li>
      		<li><a href="/cardsTopRated?pp=0">Top Rated</a></li>
      		<li><a href="/cardsTopViewed?pp=0">Top Viewed</a></li>
   		<% } else if (view == "topRated") { %>
      		<li><a href="/cards">Search</a></li>
      		<li><a href="/cardsTopRated?pp=0" class="active">Top Rated</a></li>
      		<li><a href="/cardsTopViewed?pp=0">Top Viewed</a></li>
      	<% } else if (view == "topViewed") { %>
      		<li><a href="/cards">Search</a></li>
      		<li><a href="/cardsTopRated?pp=0">Top Rated</a></li>
      		<li><a href="/cardsTopViewed?pp=0" class="active">Top Viewed</a></li>
      	<% } else if (view == "details") { %>
      		<li><a href="/cards">Search</a></li>
      		<li><a href="/cardsTopRated?pp=0">Top Rated</a></li>
      		<li><a href="/cardsTopViewed?pp=0">Top Viewed</a></li>
      		<li><a href="/cardDetails?id=<%= cardObject.pfobject.id %>" class="active">Card</a></li>
      	<% } %>
   		</ul>
	</div>
	
	<div class="cardBackground">
		<p>&nbsp;</p>

<% if (view == "search" || view == "searchResults" || view == "topRated" || view == "topViewed") { %>
	<% if (view == "search" || view == "searchResults") { %>
		<div class="mytable">
	  		<div class="myrow">
	    		<span class="mycell mytwenty">&nbsp;</span>
		    	<span class="mycellimage mysixty">
		    		<form action="/cardsSearch" method="get">
	    				<div class="form-group">
					    	<input class="textboxinput" name="searchTerms" id="searchTerms" value="<%= searchTerms %>" type="text" placeHolder="Search Terms...">
      					</div>
                    	<div class="form-group">
                            <input name="searchInName" id="searchInName" type="checkbox"
                            <% if (searchInName) { %>
							checked
							<% } %>/>
                            <font class="td_label">Search In Name</font><br />
							
							<input name="searchInText" id="searchInText" type="checkbox"
                            <% if (searchInText) { %>
							checked
							<% } %>/>
                            <font class="td_label">Search In Text</font><br />
							
							<input name="searchInFlavor" id="searchInFlavor" type="checkbox"
                            <% if (searchInFlavor) { %>
							checked
							<% } %>/>
                            <font class="td_label">Search In Flavor</font><br />
      					</div>
                        <div class="form-group">
                    		<font class="td_label">Search By Color</font><br />
                                
					    	<input name="colorBlack" id="colorBlack" type="checkbox"
                            <% if (colorBlack) { %>
							checked
							<% } %>/>
							<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/B/32.png" width="16" height="16" />
				    	
					    	<input name="colorBlue"  id="colorBlue"  type="checkbox"
                            <% if (colorBlue) { %>
							checked
							<% } %>/>
					    	<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/U/32.png" width="16" height="16" />
					    	
						    <input name="colorGreen" id="colorGreen" type="checkbox"
                            <% if (colorGreen) { %>
							checked
							<% } %>/>
							<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/G/32.png" width="16" height="16" />
					    	
				    		<input name="colorRed"   id="colorRed"   type="checkbox"
                            <% if (colorRed) { %>
							checked
							<% } %>/>
				    		<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/R/32.png" width="16" height="16" />
					    	
					    	<input name="colorWhite" id="colorWhite" type="checkbox"
                            <% if (colorWhite) { %>
							checked
							<% } %>/>
					    	<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/W/32.png" width="16" height="16" />
					    	
						    <input name="colorless" id="colorless" type="checkbox"
                            <% if (colorless) { %>
							checked
							<% } %>/>
					    	<img src="https://jovitoroyecacom.ipage.com/decktracker/mana/Colorless/32.png" width="16" height="16" />
      					</div>
                        <div class="form-group">
                            <input name="matchColors" id="matchColors" type="checkbox"
                            <% if (matchColors) { %>
							checked
							<% } %>/>
                            <font class="td_label">Match Colors Exactly</font><br />
                        </div>
	    				<div class="form-group">
					    	<input class="searchbutton" type="submit" value="Submit" />
      					</div>
					</form>
		    	</span>
	    	<span class="mycell mytwenty">&nbsp;</span>
    	</div>
    	<% if (view == "searchResults") { %>
    	<div class="myrow">
	    	<span class="mycell mytwenty">&nbsp;</span>
			<span class="mycellimage mysixty">
		    	<font class="td_label"><%= resultCount %> result(s).</font>
		    </span>
		   	<span class="mycell mytwenty">&nbsp;</span>
		</div>
		<% } %>
    </div>
    <div class="myrowfiller">
      	<span class="mycell myfill">&nbsp;</span>	
    </div>	
	<% } %>
		
		<div class="mytable">
		<% var rank = (pp*20); %>  
    	<% _(cardObjects).each(function(cardObject) { %>	
	  	<div class="myrow">
	    	<span class="mycell myten">&nbsp;</span>
	    	<span class="mycellimage mytwenty">
	    		<a href="/cardDetails?id=<%= cardObject.pfobject.id %>">
	    		<img id="cardImage<%= cardObject.pfobject.id %>"
	    	    	class="cardImage"
	    		 	alt= "<%= cardObject.pfobject.get('name')%>"
	    		 	src="" />
	    		 </a>
	    	</span>
    		<span class="mycell mysixty">
    			<font class="td_label"><%= rank+1 %>.</font>
	    		<% if (cardObject.pfobject.get('modern') != null && cardObject.pfobject.get('modern') == true) { %>
    			<font class="td_modern">
                    <a href="/cardDetails?id=<%= cardObject.pfobject.id %>" class="td_modern">
    			<% } else { %>
    			<font class="td_classic">
                    <a href="/cardDetails?id=<%= cardObject.pfobject.id %>" class="td_classic">
	    		<% } %>
	    			<%= cardObject.pfobject.get('name') %></a>
    			</font> &nbsp;&nbsp;&nbsp;<span id="cardMana<%= cardObject.pfobject.id %>"></span><br />
    			<img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/other/<%= cardObject.typeImage() %>/32.png" />
	    	    <font class="td_label"><%= cardObject.typeDetails() %></font></br />
	    		<img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/set/<%= cardObject.setImage() %>/32.png" />
		        <font class="td_label"><%= cardObject.setDetails() %></font><br />
		        <div id="cardRating<%= cardObject.pfobject.id %>"></div>
	    	    <p>&nbsp;</p>
	        	<div class="td_label" id="tcgPriceInfo<%= cardObject.pfobject.id %>"></div>
		        <script>
		        	setTimeout(function() {
	    	    		loadCardMana("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('manaCost') %>");
	        			loadCardRating("<%= cardObject.pfobject.id %>", <%= cardObject.pfobject.get('rating') %>);
	        			loadTCGPrice("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('set').get('tcgPlayerName') %>", "<%= cardObject.pfobject.get('name') %>");
	        			loadCardImage("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('set').get('magicCardsInfoCode') %>", "<%= cardObject.pfobject.get('number') %>", true);
		        	 }, 1);
		        </script>
    		</span>
	    	<span class="mycell myten">&nbsp;</span>
    	</div>
	    <div class="myrowfiller">
      		<span class="mycell myfill">&nbsp;</span>	
      	</div>
      		<% rank++; %>
      	<% }); %>
    	</div>
	    <div class="myrowfiller">
    	  	<span class="mycell myfill">&nbsp;</span>	
	    </div>
	    <% if (view == "searchResults" || view == "topRated" || view == "topViewed") {%>

		<div class="mytable">
  			<div class="myrow">
  				<span class="mycell mytwenty">&nbsp;</span>
	    		<span class="mycell mysixty">
    			  <font class="td_label">Page
    				  <% for (i=0; i<(resultCount/20); i++) { %>
	        			<% if (pp == i) { %>
	        			<%= i+1 %>
	        			<% } else { %>
	        				<% if (view == "searchResults") { %>
		        		<a href="/cardsSearch?pp=<%= i %>&searchTerms=<%= searchTerms %><%= searchFlags %>" style='text-decoration: underline'><%= i+1 %></a>&nbsp;
		        			<% } else if (view == "topRated") { %>
		        		<a href="/cardsTopRated?pp=<%= i %>" style='text-decoration: underline'><%= i+1 %></a>&nbsp;
		        			<% } else if (view == "topViewed") { %>
		        		<a href="/cardsTopViewed?pp=<%= i %>" style='text-decoration: underline'><%= i+1 %></a>&nbsp;
		        			<% }  %>
		        		<% }  %>
	    			  <% } %>
	    		  </font>
	    		</span>
    			<span class="mycell mytwenty">&nbsp;</span>
  			</div>
		</div>
		<% } %>
		<div class="myrowfiller">
      		<span class="mycell myfill">&nbsp;</span>	
	    </div>
  
<% } else if (view == "details") { %>
		<div class="mytable">
	  	<div class="myrow">
	    	<span class="mycell myten">&nbsp;</span>
	    	<span class="mycellimage mythirty">
	    		<img id="cardImage<%= cardObject.pfobject.id %>"
	    	    	class="cardImage"
	    		 	alt= "<%= cardObject.pfobject.get('name')%>"
	    		 	src="" />
	    	</span>
    		<span class="mycell myfifty">
	    		<% if (cardObject.pfobject.get('modern') != null && cardObject.pfobject.get('modern') == true) { %>
    			<font class="td_modern">
    			<% } else { %>
    			<font class="td_classic">
	    		<% } %>
	    			<%= cardObject.pfobject.get('name') %>
    			</font> &nbsp;&nbsp;&nbsp;<span id="cardMana<%= cardObject.pfobject.id %>"></span><br />
    			<img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/other/<%= cardObject.typeImage() %>/32.png" />
	    	    <font class="td_label"><%= cardObject.typeDetails() %></font></br />
	    		<img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/set/<%= cardObject.setImage() %>/32.png" />
		        <font class="td_label"><%= cardObject.setDetails() %></font><br />
		        <div id="cardRating<%= cardObject.pfobject.id %>"></div>
	    	    <p>&nbsp;</p>
	        	<div class="td_label" id="tcgPriceInfo<%= cardObject.pfobject.id %>"></div>
		        <script>
		        	setTimeout(function() {
	    	    		loadCardMana("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('manaCost') %>");
	        			loadCardRating("<%= cardObject.pfobject.id %>", <%= cardObject.pfobject.get('rating') %>);
	        			loadTCGPrice("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('set').get('tcgPlayerName') %>", "<%= cardObject.pfobject.get('name') %>");
	        			loadCardImage("<%= cardObject.pfobject.id %>", "<%= cardObject.pfobject.get('set').get('magicCardsInfoCode') %>", "<%= cardObject.pfobject.get('number') %>", false);
		        	 }, 1);
		        </script>
		        
		        <% if (versions.length > 0) { %>
			        <p>&nbsp;</p>
			        <font class="td_label">Other Versions</font><br />
			        <% _(versions).each(function(v) { %>
			        	<a href="/cardDetails?id=<%= v.pfobject.id %>">
				        <img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/set/<%= v.setImage() %>/32.png" />
			        	</a>
			        	<font class="td_label">
                            <a href="/cardDetails?id=<%= v.pfobject.id %>">
			        		<%= v.pfobject.get('set').get('name') %><br />
                            </a>
			        	</font>
		        	<% }); %>
		        <% } %>
    		</span>
	    	<span class="mycell myten">&nbsp;</span>
    	</div>
    	<div class="myrowfiller">
      		<span class="mycell myfill">&nbsp;</span>	
      	</div>
    	</div>
<% } %>
	</div>

		    

