<script>
	function loadTCGPrice(rank, tcgPlayerName, cardName) {

	    var urL = "cardPrice?tcgPlayerName="+tcgPlayerName+"&cardName="+cardName;
	        	
		var xmlhttp;
		var txt,x,i;
		// code for IE7+, Firefox, Chrome, Opera, Safari
		if (window.XMLHttpRequest) {
		  	xmlhttp=new XMLHttpRequest();
		  	
		// code for IE6, IE5  	
  		} else {
  			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  		}

		xmlhttp.onreadystatechange=function() {

  			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    			xmlDoc=xmlhttp.responseXML;
			    txt="<table>";
			    
			    x=xmlDoc.getElementsByTagName("product");
			    
			    for (i=0;i<x.length;i++)
      			{
      			  v = ""
        		  
        		  xx=x[i].getElementsByTagName("foilavgprice");
        		  {
        			try
          			{
          				v = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          			}
        			catch (er)
          			{
          				v = ""
          			}
          			txt = txt + "<tr><td>Foil</td><td align='right'>" + v + "</td></tr>";
        		  }
        		  
        		  xx=x[i].getElementsByTagName("hiprice");
        		  {
        			try
          			{
          				v = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          			}
        			catch (er)
          			{
          				v = ""
          			}
          			txt = txt + "<tr><td>High</td><td align='right'>" + v + "</td></tr>";
        		  }
        		  
        		  xx=x[i].getElementsByTagName("avgprice");
        		  {
        			try
          			{
          				v = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          			}
        			catch (er)
          			{
          				v = ""
          			}
          			txt = txt + "<tr><td>Median</td><td align='right'>" + v + "</td></tr>";
        		  }
        		  
        		  xx=x[i].getElementsByTagName("lowprice");
        		  {
        			try
          			{
          				v = xx[0].firstChild.nodeValue == "0" ? "N.A." : ("$"+xx[0].firstChild.nodeValue);
          			}
        			catch (er)
          			{
          				v = ""
          			}
          			txt = txt + "<tr><td>Low</td><td align='right'>" + v + "</td></tr>";
        		  }
        		  
        		  xx=x[i].getElementsByTagName("link");
        		  {
        			try
          			{
          				v = xx[0].firstChild.nodeValue;
          				txt = txt + "<tr><td colspan='2'>Buy this card at <a target='_blank' href='" + v + "'>TCGPlayer</a>.</td></tr>";
          			}
        			catch (er)
          			{
          				txt = txt + "<br/>";
          			}
        		  }
        		}
				
				document.getElementById("tcgPriceInfo"+rank).innerHTML=txt;
    		}
  		}
  		
		xmlhttp.open("GET", urL, true);
		xmlhttp.send();
	}
</script>

	<div id="centeredmenu">
		<p>&nbsp;</p>
   		<ul>
   			<% if (view == "topViewed") { %>
      		<li><a href="/cards?view=topRated&pp=0">Top Rated</a></li>
      		<li><a href="/cards?view=topViewed&pp=0" class="active">Top Viewed</a></li>
      		<% } else { %>
      		<li><a href="/cards?view=topRated" class="active">Top Rated</a></li>
      		<li><a href="/cards?view=topViewed">Top Viewed</a></li>
      		<% } %>
   		</ul>
	</div>
	
<% if (cards.length > 0) { %>
  <div class="cardBackground">
  
	<p>&nbsp;</p>
	<div class="mytable">
	  <% rank = pp*cards.length; %>  
      <% _(cards).each(function(card) { %>	
	  <div class="myrow">
	    <span class="mycell myten">&nbsp;</span>
	    <span class="mycell myforty">
	    	<img class="cardImage"
	    		 alt= "<=% card.get('name')%>"
	    		src="http://magiccards.info/scans/en/<%= card.get('set').get('magicCardsInfoCode') %>/<%= card.get('number') %>.jpg" />
	    </span>
    	<span class="mycell myforty">
    		<font class="td_normal"><%= rank+1 %>.</font>
    		<% if (card.get('modern') != null && card.get('modern') == true) { %>
    		<font class="td_modern"><%= card.get('name') %></font><br/>
    		<% } else { %>
    		<font class="td_classic"><%= card.get('name') %></font><br/>
    		<% } %>
		    <% if (card.get('rarity') != null) { %>
	    	<img class="setImage" src="https://jovitoroyecacom.ipage.com/decktracker/set/<%= card.get('set').get('code') %>/<%= card.get('rarity').get('symbol') %>/32.png" />
	        <% } %>
	        <font class="td_normal"><%= card.get('set').get('name') %>
	        <% if (card.get('rarity') != null) { %>
	        (<%= card.get('rarity').get('name') %>)
	        <% } %></font></br />
	        <!-- -->
	        <% if (card.get('rating') != null) { %>
		        	<% if (card.get('rating') >= 0 && card.get('rating') < 0.5) { %>
	            <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
        		<img src="/assets/img/stars/star.png"/>
	    	    <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
		        	<% } else if (card.get('rating') >= 0.5 && card.get('rating') < 1) { %>
	            <img src="/assets/img/stars/starhalf.png"/>
	    		<img src="/assets/img/stars/star.png"/>
        		<img src="/assets/img/stars/star.png"/>
	    	    <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
		        	<% } else if (card.get('rating') >= 1 && card.get('rating') < 1.5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/star.png"/>
	     		<img src="/assets/img/stars/star.png"/>
	    	    <img src="/assets/img/stars/star.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 1.5 && card.get('rating') < 2) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhalf.png"/>
		        <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 2 && card.get('rating') < 2.5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 2.5 && card.get('rating') < 3) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhalf.png"/>
	    		<img src="/assets/img/stars/star.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 3 && card.get('rating') < 3.5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhighlighted.png"/>
	      		<img src="/assets/img/stars/star.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 3.5 && card.get('rating') < 4) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhalf.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 4 && card.get('rating') < 4.5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
	        	<img src="/assets/img/stars/star.png"/>
					<% } else if (card.get('rating') >= 4.5 && card.get('rating') < 5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
	        	<img src="/assets/img/stars/starhalf.png"/>
					<% } else if (card.get('rating') >= 5) { %>
	            <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
		        <img src="/assets/img/stars/starhighlighted.png"/>
	    		<img src="/assets/img/stars/starhighlighted.png"/>
	        	<img src="/assets/img/stars/starhighlighted.png"/>
					<% } %>
				<% } else { %>
				<img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
        		<img src="/assets/img/stars/star.png"/>
	    	    <img src="/assets/img/stars/star.png"/>
	    		<img src="/assets/img/stars/star.png"/>
			<% } %><br />

	        <font class="td_normal">Number of Views: <%= card.get('numberOfViews') %></font>
	        <p>&nbsp;</p>
	        <div class="td_normal" id="tcgPriceInfo<%= rank %>"></div>
	        <script>
	        	setTimeout(function() {
	        		loadTCGPrice(<%= rank %>, '<%= card.get('set').get('tcgPlayerName') %>', '<%= card.get('name') %>');
	        	 }, 1); 
	        </script>
	        
    	</span>
    	<span class="mycell myten">&nbsp;</span>
      </div>
      <div class="myrowfiller">
      	<span class="mycell myfill">&nbsp;</span>	
      </div>
      	<% rank++; %>
      <% }); %>
    </div>
    <div class="myrowfiller">
      	<span class="mycell myfill">&nbsp;</span>	
    </div>
	<div class="mytable">
  		<div class="myrow">
  			<span class="mycell myten">&nbsp;</span>
    		<span class="mycell">
    		  <font class="td_normal">Page
    			  <% for (i=0; i<10; i++) { %>
	        		<% if (pp == i) { %>
	        		<%= i+1 %>
	        		<% } else { %>
	        		<a href="/cards?view=<%= view %>&pp=<%= i %>"><%= i+1 %></a>&nbsp;
	        		<% }  %>
	    		  <% } %>
	    	  </font>
    		</span>
    		<span class="mycell myten">&nbsp;</span>
  		</div>
	</div>
	<div class="myrowfiller">
      	<span class="mycell myfill">&nbsp;</span>	
    </div>
  </div>
<% } %>

	    

